:root {
  --light: hsl(0, 0%, 80%);
  --light-50: hsla(0, 0%, 80%, 0.5);

  --dark: hsl(0, 0%, 13%);
  --dark-50: hsla(0, 0%, 13%, 0.5);

  --lime: hsl(120, 100%, 50%);
  --lime-50: hsla(120, 100%, 50%, 0.5);
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/nunito_sans/NunitoSans_VF.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("./assets/fonts/nunito_sans/NunitoSans_Italic_VF.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./assets/fonts/roboto_condensed/RobotoCondensed_VF.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "Roboto Condensed Italic";
  src: url("./assets/fonts/roboto_condensed/RobotoCondensed_Italic_VF.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Roboto Condensed", sans-serif;
}

main {
  display: grid;
  place-items: center;
  inline-size: 100vw;
  block-size: 100vh;
  padding: 1rem;
}

.tareas {
  inline-size: clamp(280px, 80vw, 500px);
  min-block-size: 100px;
  padding: 0.6rem;
  outline: 2px solid var(--light-50);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--light-50);

  & > h1 {
    margin-block-end: 2rem;
    color: var(--lime);
    text-align: center;
    font-size: clamp(1.5em, 5vw, 2em);
  }
}
